---
import styles from '../styles/boxes.module.css';
---


<div>
    <div class={`${styles.boxStyles} ${styles.presentationBox}`}></div>
    <div class={`${styles.boxStyles} ${styles.aboutBox}`}></div>
    <div class={`${styles.boxStyles} ${styles.projectsBox}`}></div>
    <div class={`${styles.boxStyles} ${styles.stackBox}`}></div>
</div>