---
import styles from '../styles/boxes.module.css';
import PresentationBox from '../components/boxes/Presentation.astro';
import StackBox from '../components/boxes/Stack.astro';
---


<div>
    <!-- <div class={`${styles.boxStyles} ${styles.presentationBox}`}></div> -->
    <PresentationBox />
    <StackBox />
    <div class={`${styles.boxStyles} ${styles.aboutBox}`}></div>
    <div class={`${styles.boxStyles} ${styles.projectsBox}`}></div>
</div>