---
import styles from '../../styles/boxes.module.css';
---

<div class={`${styles.presentationBox} ${styles.boxStyles}`}>
    <p>Junior Full-stack & Mobile developer</p>
    <h1 class={`${styles.MyName}`}>Diego Marchandon</h1>
    <p>Compromiso en cada etapa del desarrollo</p>
    <p class={`${styles.MyStatus}`}><span></span>Disponible</p>
    <p class={`${styles.introduction}`}>
        Desarrollador Web recibido en 2025, 
        realicé proyectos conformados por diversos stacks y propósitos, impulsado por la constante 
        curiosidad de conocer nuevas herramientas, lenguajes y tecnologías que, 
        una vez implementadas, terminan culminando en proyectos totalmente integrales.
    </p>
</div>