---
import styles from '../../styles/boxes.module.css';
---

<div>
    <p>Mi Stack tecnológico</p>
    <h1>Herramientas con las que acostumbro trabajar y tengo conocimmientos</h1>
    <p>
        Mis bases están conformadas por tecnologías aprendidas en la universidad, 
        bootcamps previos, y aprendizaje autodidacta. Independientemente del origen, 
        en todos los casos me comprometí a aprender cada una de las herramientas 
        que se mencionan hasta conseguir tener bases sólidas y poder llevar a cabo 
        sus implementaciones de forma independiente 
    </p>
    <span>
        <h2>tecnologías Frontend</h2>
        
        <p class={`${styles.stackBox}`}>HTML para la estructura de mis páginas</p>
        <p class={`${styles.stackBox}`}>CSS para el diseño</p>
        <p class={`${styles.stackBox}`}>Bootstrap</p>
        <p class={`${styles.stackBox}`}>Tailwind</p>
        <p class={`${styles.stackBox}`}>JavaScript</p>
        <p class={`${styles.stackBox}`}>AJAX</p>
        <p class={`${styles.stackBox}`}>TypeScript</p>
        <p class={`${styles.stackBox}`}>React</p>
        <p class={`${styles.stackBox}`}>Astro</p>
        <p class={`${styles.stackBox}`}>Next</p>

        <h2>Diseño UI</h2>
        <!-- framer motion y HeroUI -->
        <p><b>Diseño web:</b> Aplicación de teoría del color, tipografías y diseño equilibrado enfocado en la interfaz de usuario.</p>
        <p><b>RIA (Rich Internet Applications):</b> Desarrollo de aplicaciones web enriquecidas y manejo de layouts complejos.</p>
    </span>
    <span>
        <h2>Desarrollo Backend y datos</h2>
        <p><b>Backend:</b> Consumo de APIs REST y manejo de bases de datos relacionales y no relacionales.</p>
        <p><b>Paradigmas de programación:</b> Programación Orientada a Objetos (POO), modularización y estructuras de control.</p>
        <p><b>Lógica de Servidor:</b> Manejo de sesiones, cookies y lógica de.</p>
        <p><b>Bases de Datos:</b> Diseño mediante Modelo Entidad-Relación, implementación en SQL (Structured Query Language), manejo de bases de datos relacionales y uso de ORM (Object-Relational Mapping)</p>
        <h2>Arquitectura, Seguridad y Frameworks</h2>
        <p><b>Infraestructura:</b> Configuración y gestión de Servidores Web, protocolos de comunicación e intérprete de comandos.</p>
        <p><b>Seguridad:</b> Implementación de protocolos seguros (SSL), certificados, técnicas de autenticación de usuarios, criptografía y encriptación de datos.</p>
        <p><b></b></p>
        •  
•  
• Ecosistema Moderno: Uso de Frameworks, consumo y creación de Servicios Web, e interoperabilidad entre sistemas.
    </span>
        <!-- CMS: clásicos como WordPress y OctoberCMS, headless como Strapi -->
</div>