---
import styles from './../../styles/navbar.module.css';

/* código javascript dentro del frontmatter (entre ---) */
const links = [
    {href: "/", label: "Presentación"},
    {href: "/stack", label: "Stack"},
    {href: "/proyectos", label: "Proyectos"},
    {href: "/about", label: "sobre mi"},
];
--- 

<nav class={styles.navStyles}>
    <div class={styles.navChild}>
        <h2 id={styles.myNameHome}>Diego <span class={styles.lastNameStyles}>Marchandon</span></h2>
    </div>
    <div class={styles.navChild}>
      <ul class={styles.ulStyles}>
      {links.map(link => (
          <li class={styles.liStyles}>
            <a class={styles.aStyles} href={link.href}>{link.label}</a>
          </li>
        ))}
      </ul>
  </div>
</nav>